<!DOCTYPE html>
<html>
  <head>
    <title>Menrva</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div class="jumbotron animated fadeInDown">
      <h1 class="display-4">I 'am &#8499;enrva</h1>
      <p class="lead">A simple textual analysis tool</p>
      <hr class="my-4">
      <p>Brought to you by &darr;</p>
      <a class="btn btn-outline-secondary" href="https://github.com/donrestarone" role="button" target="_blank">@DonRestarone</a>
    </div>
    <%= yield %>
  </body>
</html>
