<h1>Menrva</h1>


<div class="container">
	<p>comparison</p>
	<div class="form-group">
		<%= form_for :comparison, url: create_comparison_path, remote: true, id: 'newComparisonForm' do |f| %>
			<%= f.text_area :body, class:'form-control', rows: '10' %>
			<%= f.submit "Save", id: 'createNewComparison'  %>
		<% end %>
	</div>
	<div id="comparison">
	</div>

</div>

<div class="container">
	<p>paragraph</p>
	<div class="form-group">
		<%= form_for :paragraph, url: create_paragraph_path, remote: true do |f| %>
			<%= f.text_area :body, class:'form-control', rows: '10' %>
			<%= f.submit "Save" %>
		<% end %>
	</div>
	<div id="paragraph">
	</div>
</div>